/* -----------
1.Other
-----------*/

body {
	background-color: #FAF7F7;
	height: 812px;
	width: 375px;
}


#header {
	height: 227px;
	width: 375px;
	background-color: #EA5045;
	background-image: url(img/kea.png);
	background-repeat: no-repeat;
	background-position: 8em;

}

.profil {
	position: relative;
	padding-left: 18em;
	top: 1.5em;
	background-repeat: no-repeat;
}


/* -----------
2.Index
-----------*/

input {
	background-color: white;
	border-radius: 15px;
	height: 2em;
	width: 18em;
	padding-left: 8px;
}

#user {
	position: relative;
	top: 4em;
	left: 4em;
}

#password {
	position: relative;
	top: 8em;
	left: 4em;
}

input[type=button] {
	color: white;


}

.continue {
	background-color: #EA5045;
	color: white;
}

.login {
	color: #EA5045;
}

input[type=placeholder] {
	position: relative;


}

#logo {
	position: relative;
	left: 1em;
	bottom: 1.5em;
}

/* -----------
3. Landing Page
-----------*/

body {
	background-color: #FAF7F7;
	height: 50.750em;
	width: 23.438em;
}

header {
	background-color: #EA5045;
	width: 23.4em;
	height: 3.875em;
	background-image: url(img/kea.png);
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: 2em;
}

.container {
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px;
	grid-gap: 10px;
}

.item {
	background-color: white;
	display: grid;
	justify-items: center;
	align-items: center;
	/* padding 10px;*/
}



.item-4 {
	grid-column: 1 / span 2;
}

.item-10 {
	grid-column: 2 / span 2;
	grid-row: 4 / span 2;
}

h4 {
	font-family: sans-serif;
	color: #F58E81;

}


/* -----------
4. Aflevering
-----------*/


h1 {
	font-family: sans-serif;

}

h2 {
	font-family: sans-serif;
	color: #EA5045;
}

h3 {
	font-family: Gibson, sans-serif;
	font-style: normal;
	font-size: 0.8rem;
	padding: 0.1rem;
	margin: 0.1rem;

}

p {
	font-family: sans-serif;
	padding: 0.1rem;
	font-size: 0.8rem;

}

li {
	list-style-type: none;
	position: relative;
	left: 1rem;
}

ul {
	background-color: #F2F1F0;
	height: 3em;
	width: 20em;
	padding: 10px 10px 10px 10px;
}

.deliver {
	position: relative;
	left: 18em;
	bottom: 2.5em;
}

.arrow {
	position: relative;
	left: 18em;
	bottom: 3em;
}

.upload {
	position: relative;
	padding-left: 17.5rem;
	bottom: 2rem;

}

/*--- Accordion ---*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0.2rem;
	height: 5rem;
	width: 20em;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.5s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
	background-color: #ccc;
}



/* Style the accordion panel. Note: hidden by default */
.panel {
	padding-left: 10px;
	background-color: white;
	max-height: 0;
	width: 20em;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.opgave {}

/*--- Burger Menu ---*/



header {
	display: flex;

}

.logo {
	position: relative;
	padding-left: 6rem;
	padding-top: 5em;
}

.hidden {
	/*    display: none;*/
	/*    transform: scale(0);*/
	transform: translateX(250%);
	opacity: 0;

}

#menuknap {
	display: inline-block;
	color: white;
	position: relative;
	padding-left: 20em;
	top: 0.1em;
}

#menu {

	list-style-type: none;
	transition: transform .3s;
	transform-origin: top left;
	background-color: #3F3140;
	height: 50vw;
	width: 22.2vw;
}

#menu a {
	color: #F58E81;
	text-decoration: none;
	font-family: Gibson, sans-serif;
	font-size: 20px;
	padding: 10px 10px 10px 10px;

}

#menu li {
	margin: 2rem;
	text-align: center;
}

.logout {
	display: flex;
	width:
}
