/* -----------
1.Other
-----------*/

body {
	background-color: #FAF7F7;
	height: 812px;
	width: 375px;
}


#header {
	height: 227px;
	width: 375px;
	background-color: #EA5045;
	background-image: url(img/kea.png);
	background-repeat: no-repeat;
	background-position: 8em;

}



/* -----------
2.Index
-----------*/

input {
	background-color: white;
	border-radius: 15px;
	height: 2em;
	width: 18em;
}

#user {
	position: relative;
	top: 4em;
	left: 4em;
}

#password {
	position: relative;
	top: 8em;
	left: 4em;
}

input[type=button] {
	background-color: #EA5045;
	color: white;

}

input[type=login] {
	border-color: #EA5045;
	color: #EA5045;

}

input[type=placeholder] {
	position: relative;


}

#logo {
	position: relative;
	left: 1em;
	bottom: 1.5em;
}

/* -----------
3. Landing Page
-----------*/

body {
	background-color: #FAF7F7;
	height: 50.750em;
	width: 23.438em;
}

header {
	background-color: #EA5045;
	width: 23.4em;
	height: 3.875em;
	background-image: url(img/kea.png);
	background-repeat: no-repeat;
	background-size: 4em;
	background-position: 2em;
}

.container {
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px;
	grid-gap: 10px;
}

.item {
	background-color: white;
	display: grid;
	justify-items: center;
	align-items: center;
	/* padding 10px;*/
}



.item-4 {
	grid-column: 1 / span 2;
}

.item-10 {
	grid-column: 2 / span 2;
	grid-row: 4 / span 2;
}

h4 {
	font-family: sans-serif;
	color: #F58E81;

}

/*--- Burger Menu ---*/

/* .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
} */



/* -----------
4. Aflevering
-----------*/

section {}

h1 {
	font-family: sans-serif;

}

h2 {
	font-family: sans-serif;
	color: #EA5045;
}

h3 {
	font-family: sans-serif;
	font-style: bold;
	font-size: 1em;
	padding: 0.1em;
	margin: 0.1em;

}

p {
	font-family: sans-serif;
	padding: 0.1em;

}

li {
	list-style-type: none;
	position: relative;
	left: 1em;
}

ul {
	background-color: #F2F1F0;
	height: 5em;
	width: 20em;
}

#deliver {
	position: relative;
	left: 20em;
	bottom: 2.5em;
}

#arrow {
	position: relative;
	left: 20em;
	bottom: 4em;
}

/*--- Accordion ---*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	cursor: pointer;
	padding: 0.2em;
	margin: 0.2em;
	height: 5em;
	width: 27em;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.5s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
	background-color: #ccc;
}



/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
